<!DOCTYPE html>
<html lang="en">

<head>

    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Vote for your favourite kitten!">

    <meta property="og:title" content="Kitten-Off" />
    <meta property="og:image" content="kitten.jpeg" />
    <meta property="og:description" content="Vote for your favourite kitten!" />
    <meta property="og:url" content="http://loosenthedark.tech/" />
    <!-- /meta tags -->

    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <!-- /stylesheets -->

    <!-- title -->
    <title>Kitten-Off</title>
    <!-- /title -->

    <!-- favicon -->
    <link rel="shortcut icon" href="cat-solid.svg" type="image/png">
    <!-- /favicon -->
</head>

<body>
    <div id="app" class="container">
        <h1>Kitten-Off <span class='heading-span'><img class="logo-img" src="cat-solid.svg" width="32"></span></h1>
        <h2>Vote for your favourite kitten!</h2>

        <div class="post-wrapper">
            <div v-for="post in sorted_posts" class="post">
                <div class="post-inner">
                    <div class="image-wrapper"><img :src="post.url" :alt="post.alt" width="286"></div>
                    <div id="voteCounter">
                        <button class="btn-votes minus" @click="decrement(post)">-</button>
                        <button class="btn-votes plus" @click="increment(post)">+</button>
                        <p class="votes">Votes: {{post.votes}}</p>
                    </div>
                    <div class="post-info">
                        <h3>{{post.name}}</h3>
                        <p>{{post.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <h2 class="form-heading">Or add a kitten of your own!</h2>
            <div class="form-group"><label for="name">Kitten name: </label><input id="name" type="text" v-model="newName"></div>
            <div class="form-group"><label for="description">Kitten description: </label><input id="description" type="text" v-model="newDescription" v-on:keypress.enter="createKitten"></div>

            <button @click="createKitten">Add Kitten</button>
            <div class="error-wrapper">
                <span v-show="error" class="error">Oops! Kittens need a name and a description.</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>